@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
	box-sizing: border-box;
}

html, body, #root {
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;
}

body {
	font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.15rem;
}
